@model GroupViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
<form asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" />
    <button type="submit">Save</button>
</form>
</body>
</html>