@model IEnumerable<GroupViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Groups again!</title>
</head>
<body>
<div>
      @foreach (var group in Model)
      {
          <li>@group.Name</li>
      }
</div>
</body>
</html>